#toolbar {
    background: #101010;
    position: fixed;
    inset: 0;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.toolbar-item {
    color: #f0f0f0;
    font-family: sans-serif;
}
