$toolbar-height: 30px;
$toolbar-item-width: 80px;
$toolbar-context-menu-margin: 5px;

#toolbar {
    background: #101010;
    position: fixed;
    inset: 0;
    height: $toolbar-height;
    display: flex;
    align-items: center;
}


.toolbar-item {
    color: #f0f0f0;
    font-family: sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;

    width: $toolbar-item-width;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;

    background: #101010;
    border: none;

    &:hover {
        background: #505050;
    }

    &:focus-within > .toolbar-item-context-menu,
    &:focus > .toolbar-item-context-menu {
        top: $toolbar-height;
        opacity: 1;
    }
}


.toolbar-item-context-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -200px;
    opacity: 0;
    transition: top 0.3s ease;
    z-index: -1;

    &:is(:nth-of-type(2)) {
        left: $toolbar-item-width;
    }

    > .toolbar-action:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}


.toolbar-action {
    width: $toolbar-item-width;
    height: $toolbar-height;
    background: #101010;
    color: #f0f0f0;
    border: none;
    transition: all 0.2s ease;

    &:hover {
        background: #505050;
    }
}
